.container
{
display:flex;
align-items:center;
justify-content:center;
}
.data
{
text-align:center;
}
.submit-button
{
    padding: 14px 0px 0px 10px;

}
.submit-button input
{
    width:60px;
    height:30px;
    font-weight:bold;
    cursor:pointer;
}