<!DOCTYPE html>
<html>
  <head>
    <title>GPT-3 Web App</title>
<!--    <link rel="stylesheet" href="style.css" />-->
     <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <div class="form-section">
        <form method="post" action="/">
          <div class="container">
            <h1 class="heading">Virtual Data Assistance</h1>
                  <img src="\static\ImageFolder\virtu.png" alt="Virtual Assistance" />

            <div>
              <!-- <input name="question" value="{{ques}}"/><br /> -->
              <input
                type="text"
                name="question"
                 value="{{ques}}"
                required
                class="search-box"
                placeholder="Enter your question" />
              <button class="close-icon" type="clear" name="clear" value="Clear"></button>
              <button class="submit-button" type="submit" value="Submit">
                  submit
              </button>
            </div>
             </div>
             <p  class="content">
              {% if inputs %}
             <p class="content">{{ inputs }}</p>
              {% endif %}
              </p>

        </form>
      </div>
    </div>
  </body>
</html>
