<!DOCTYPE html>
<html>
  <head>
    <title>GPT-3 Web App</title>
     <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  </head>
  <body>
        <div class="main-container">

        <h1 class="heading">Virtual Data Assistance</h1>
        <form method="post" action="/">
          <div class="container">
            <div>
              <label for="question">Enter your question:</label><br />
              <input name="question" value="{{ques}}"/><br />
            </div>
            <div class="submit-button">
              <input type="submit" value="Submit" />
            </div>
            <p  class="content">
              {% if inputs %}
             <p class="data">{{ inputs }}</p>
              {% endif %}
              </p>
          </div>
        </form>
        </div>
  </body>
</html>
