@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.logo {
  width: 245px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.search-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container {
  height: 45px;
  width: 600px;
  border-radius: 6px 0px 0px 6px;
  background-color: white;
}
.heading {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  font-size: 3em;
}
.virtu {
  height: 230px;
  width: 300px;
}

.container {
  background: linear-gradient(95.04deg, #91c0f8 3.61%, #f3b977 101.87%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}
.container input {
  width: 574px;
}

.search-box-input,
.close-icon {
  position: relative;
  padding: 10px;
}
.close-icon {
  margin-right: -23px;
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: rgb(157 153 153);
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 33px;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #f9cfcf;
  cursor: pointer;
}
.search-box-input:not(:valid) ~ .close-icon {
  display: none;
}
.search-box-input {
  font-size: 16px;
  border: none;
  outline: 0;
  border-radius: 50%;
  margin-top: 3px;
}
p {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}
.text-head {
  font-size: 22px;
  font-weight: bolder;
}
.sub-head {
  font-size: 18px;
  font-weight: bold;
}
.text-p {
  font-size: 14px;
  margin-top: 10px;
}
.content {
  max-width: 80%;
  align-items: center;
  margin-left: 10%;
  line-height: 30px;
  text-align: justify;
  font-size: 20px;
}
.submit-button {
  width: 50px;
  height: 45px;
  background: #f8931f;
  border-radius: 0px 6px 6px 0px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: white;
}
.submit-button:hover,
.submit-button:focus {
  background-color: #292929;
  color: white;
}
